%aside
  %ul.nav.nav-pills.nav-stacked
    %li{:class => current_page?(other_projects_path) ? "active" : nil}
      %a{href: other_projects_path} Other Projects

    %li{:class => current_page?(nuduro_path) ? "active" : nil}
      %a{href: nuduro_path} Nuduro
      
    %li{:class => current_page?(mario_kart_madness_path) ? "active" : nil}
      %a{href: mario_kart_madness_path} Mario Kart Madness

