%aside
  %ul.nav.nav-pills.nav-stacked
    %li{:class => current_page?(side_projects_path) ? "active" : nil}
      %a{href: side_projects_path} Side Projects
      
    %li{:class => current_page?(mario_kart_madness_path) ? "active" : nil}
      %a{href: mario_kart_madness_path} Mario Kart Madness
