%nav.navbar.navbar-default.header-nav{role: "navigation"}
  .container
    %a.navbar-brand{href: root_path}
      Justin Dao
    %ul.nav.nav-pills.navbar-nav
      %li{:class => controller.controller_name == 'main_projects' ? "active" : nil}
        %a{:href => main_projects_path} Main Projects

      %li{:class => controller.controller_name == 'other_projects' ? "active" : nil}
        %a{:href => other_projects_path} Other Projects

      %li{:class => current_page?(contact_path) ? "active" : nil}
        %a{:href => contact_path} Contact